.two-col {
  > div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    &.col1 {
        padding-right: 10px;
    }
    &.col2 {
        padding-left: 10px;
    }
    &.col1, &.col2 {
      @media only screen and (max-width: $breakpoint-sm) {
        padding: 0;
      }
    }
    @media only screen and (max-width: $breakpoint-sm) {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }
  }
}
