.slick-slider {
	margin: 5px 0px 20px 0px;
	@media only screen and (max-width: $breakpoint-xs) {
		margin-left: -10px;
		margin-right: -10px;
		margin-top: 0;
	}
}

.slick-slider .slick-track, .slick-slider .slick-list {
	height: 400px;
}

.slick-slide {
	overflow: hidden;
	img {
		height: auto;
		width: 100%;
	}
}
