header {
  nav {
    background: $cl-black url('../../images/art_nav_bkgd.gif') no-repeat scroll center top;
    height: 48px;
    margin: 0;
    padding: 0px;
    text-align: center;
    ul {
      display: inline-block;
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        height: 27px;
        margin-top: 12px;
        position: relative;
        vertical-align: top;
        width: auto;
        a {
          -webkit-text-stroke-color: $cl-page-hdr-stroke;
          -webkit-text-stroke-width: 1.5px;
          color: $cl-page-hdr-fill;
          display: inline-block;
          font-family: 'Amiri';
          font-size: 36px;
          font-weight: 700;
          height: 27px;
          letter-spacing: 17px;
          line-height: 33px;
          text-decoration: none;
          text-transform: uppercase;
          span {
            display: inline-block;
            @include MIXCSSTransform(scale, 0.51, 1.0, 0, 0);
          }
          &.home {
            width: 79px;
          }
          &.blog {
            width: 73px;
          }
          &.about {
            width: 96px;
          }
          &.media {
            width: 95px;
          }
          &.contact {
            width: 133px;
          }
          &.press {
            width: 92px;
          }
          &.links {
            width: 91px;
          }
          &.active {
            color: $cl-nav-active-fill;
          }
        }

      }
    }
    ul.nav-items {
      margin-right: 15px;
      li {
        padding-left: 28px;
        a {
          margin-right: 14px;
        }
        &:before {
          background: transparent url('../../images/art_nav_sep.gif') no-repeat scroll left top;
          content: "";
          height: 16px;
          left: 0px;
          margin: 0px 14px 0px 0px;
          position: absolute;
          top: 5px;
          width: 16px;
        }
      }

    }

  }
}
