header {
  position: relative;
  nav {
    background: $cl-black url('../../images/art_nav_bkgd.gif') no-repeat scroll center top;
    height: 48px;
    margin: 0;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    .nav-trigger {
      border: 1px solid red;
      display: none;
      fill: $cl-white;
      height: 30px;
      position: absolute;
      right: 17px;
      stroke: $cl-white;
      top: 17px;
      width: 30px;
      z-index: 1;
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }
    ul {
      display: inline-block;
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        height: 27px;
        margin-top: 12px;
        position: relative;
        vertical-align: top;
        width: auto;
        a {
          -webkit-text-stroke-color: $cl-page-hdr-stroke;
          -webkit-text-stroke-width: 1px;
          color: $cl-page-hdr-fill;
          display: inline-block;
          font-family: birch-std, serif;
          font-size: 33px;
          font-weight: 400;
          letter-spacing: 7px;
          line-height: 30px;
          text-decoration: none;
          text-transform: uppercase;

          &.active {
            color: $cl-nav-active-fill;
          }
          &:hover {
            color: $cl-nav-active-fill;
            text-decoration: none;
          }
        }
        @media only screen and (max-width: 768px) {
            display: block;
        }
      }
      @media only screen and (max-width: 768px) {
        background-color: $cl-black;
        width: 10%;
      }
    }
    ul.nav-items {
      margin-right: 15px;
      &.hidden {
        display: none;
      }
      li {
        padding-left: 28px;
        a {
          margin-right: 6px;
        }
        &:before {
          background: transparent url('../../images/art_nav_sep.gif') no-repeat scroll left top;
          content: "";
          height: 16px;
          left: 0px;
          margin: 0px 14px 0px 0px;
          position: absolute;
          top: 5px;
          width: 16px;
        }
      }

    }
    @media only screen and (max-width: 768px) {
        height: auto;
        text-align: left;
    }
  }
}
