.links-page {
	.link-container {
		@include fontRender($cl-white, 400, 'Open Sans', 15px, 20px, normal);
		display: inline-block;
		padding-right: 15px;
		vertical-align: top;
		width: 50%;
		@media only screen and (max-width: $breakpoint-xs) {
				width: 100%;
		}
	}
}
