.comp-buy-now {
  background-color: #292F33;
  border-radius: 5px;
  display: block;
  height: 120px;
  margin-bottom: 20px;
  width: 320px;
  figure {
    display: block;
    height: 100%;
    margin: 0;
    padding: 9px 140px 9px 20px;
    position: relative;
    figcaption {
      display:block;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      button {
        width: 100%;
        @media only screen and (max-width: $breakpoint-md) {
          margin-right: 0;
          width: 80%;
        }
      }
      h2 {
        @include fontRender($cl-ghost, 400, 'birch-std', 33px, normal, 0.35rem);
        margin-right: -0.35rem;
      }
      @media only screen and (max-width: $breakpoint-md) {
        left: auto;
        margin-top: 5px;
        position: relative;
        top: auto;
        transform: none;
      }
    }
    img {
      position: absolute;
      right: 20px;
      top: 9px;
      @media only screen and (max-width: $breakpoint-md) {
        display: inline-block;
        position: relative;
        right: auto;
      }
    }
    @media only screen and (max-width: $breakpoint-md) {
      padding: 0;
      text-align: center;
    }
  }
  @media only screen and (max-width: $breakpoint-md) {
    height: auto;
    width: 100%;
    max-width: 320px;
  }
  @media only screen and (max-width: $breakpoint-xs) {
    max-width: none;
  }
}
