.comp-buy-now {
  background-color: #292F33;
  border-radius: 5px;
  display: block;
  height: 120px;
  margin-bottom: 20px;
  width: 320px;
  figure {
    display: block;
    height: 100%;
    margin: 0;
    padding: 9px 140px 9px 20px;
    position: relative;
    figcaption {
      display:block;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      button {
        width: 100%;
      }
      h2 {
        @include fontRender($cl-ghost, 400, 'birch-std', 33px, normal, 0.35rem);
        margin-right: -0.35rem;
      }
    }
    img {
      position: absolute;
      right: 20px;
      top: 9px;
    }
  }
}
