header {
  background-color: $cl-black;
  img.hdr-main {
    display: block;
    height: auto;
    width: 100%;
    @media only screen and (max-width: $breakpoint-xs) {
      display: none;
    }
  }
  @media only screen and (max-width: $breakpoint-xs) {
    height: 47px;
  }
}
