
//global
@import './scss/colors';
@import './scss/fonts';
@import './scss/mixins';

//components
@import './components/BioModal/BioModal';
@import './components/BlogViewer/BlogNav';
@import './components/BlogViewer/BlogViewer';
@import './components/common/Footer';
@import './components/common/SocialMediaIcons';
@import './components/common/CDBabyBuyNow';
@import './components/common/Header';
@import './components/MemberCard/MemberCard';
@import './components/Navigation/Navigation';
@import './components/DynamicImageGrid/DynamicImageGrid';

//layout
@import './layout/Layout';
@import './layout/SplashLayout';

//pages
@import './pages/MediaPage';
@import './pages/PressPage';
@import './pages/AboutPage';
@import './pages/LinksPage';
@import './pages/SplashPage';
@import './pages/HomePage';

html {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}
body {
	background: $cl-black url('./images/art_bkgd.jpg') no-repeat 0px 436px scroll;
	background-size: cover;
  @include fontRender($cl-white, 400, 'Open Sans', 15px, 20px, normal);
	color: $cl-white;
}

p {
	margin-top: 0;
}

blockquote {
	margin-bottom: 25px;
	p {
		font-style: italic;
		margin-bottom: 5px;
	}
	small {
		display: block;
		font-size: 11px;
		text-align: right;
	}
}

a {
    color: $cl-half-baked;
    text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
}
#content-container {
	h1 {
	    @include MIXCSSTransform(scale, 0.6, 1.0, 0, 0);
	    -webkit-text-stroke-width: 2px;
	    -webkit-text-stroke-color: $cl-page-hdr-stroke;
	    color: $cl-page-hdr-fill;
	    display: inline-block;
	    font-family: 'Amiri';
	    font-size: 72px;
	    font-weight: 700;
	    letter-spacing: 26px;
	    line-height: 72px;
	    margin: 0px;
	    text-transform: uppercase;
	    &:before {
	        background: url('./images/art_hdr_medallion.png');
	        content:"";
	        display: inline-block;
	        height: 44px;
	        margin-right: 30px;
	        transform: scale(1.5,1);
	        width: 43px;
	    }
	}
}

h2 {
    color: $cl-ghost;
    font: normal 26pt "Times New Roman", Times, serif;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding-bottom: 0px;
}

h3 {
  @include fontRender($cl-heathered-gray, 700, 'Amiri', 17px, 20px, 0.025rem);
	margin-bottom: 10px;
	margin-top: 0;
	text-transform: uppercase;
}

.copyright {
	text-align: center;
	font: normal 10px "Times New Roman", Times, serif;
	color: $cl-gray;
	text-transform: uppercase;
	a:link {
		font: normal 10px "Times New Roman", Times, serif;
		color: $cl-gray;
		text-decoration: underline;
	}
	a:hover {
		font: normal 10px "Times New Roman", Times, serif;
		color: $cl-gray;
		text-decoration: none;
	}
	a:visited {
		font: normal 10px "Times New Roman", Times, serif;
		color: $cl-gray;
		text-decoration: underline;
	}
}

input[type="text"], textarea {
    background-color: $cl-nepal;
    border: 1px solid $cl-tropical-blue;
    font: normal 13pt "Times New Roman", Times, serif;
}

button {
	@include fontRender($cl-black, 700, 'Amiri', 15px, 20px, normal);
	background-color: $cl-domino;
	border: 0;
	cursor: pointer;
	display: inline-block;
	filter: sepia(1);
	margin: 0 5px 10px 0px;
	padding: 5px 10px 3px 10px;
	text-transform: uppercase;
	&:disabled {
		background-color: $cl-taupe;
		cursor: text;
	}
}

.hideMe {
	display: none;
}
.showMe {
	display: inline;
}

//HomeCarousel
.slick-slider .slick-track, .slick-slider .slick-list {
	height: 400px;
	margin: 2px 0px 10px 0px;
}
.slick-slide {
	img {
		height: 100%;
		width: auto;
	}
}
