$cl-white: #fff;
$cl-black: #000;
$cl-gray: #7e7e7e;
$cl-nepal: #93a5bf;
$cl-tropical-blue: #c3ddf9;
$cl-half-baked: #8fcbd1;
$cl-page-hdr-fill: #c3c4d1;
$cl-page-hdr-stroke: #414c5c;
$cl-nav-active-fill: lighten($cl-page-hdr-fill, 20%);
