#content-container {
    border: 1px solid green;
    font-size: 0;
    margin: 0 auto;
    width: 1400px;
    @media only screen and (max-width: $breakpoint-lg) {
      padding-top: 47px;
      width: auto;
    }

}

div.column {
  display: inline-block;
  vertical-align: top;

  &.left {
    border: 1px solid blue;
    padding: 28px 0px 0px 17px;
    width: 1028px;
    @media only screen and (max-width: $breakpoint-lg) {
      padding-left: 17px;
      width: 74%;
    }
    @media only screen and (max-width: $breakpoint-md) {
      display: block;
      padding: 0px 10px;
      width: 100%;
    }
  }
  &.right {
    border: 1px solid yellow;
    padding: 41px 0px 0px 17px;
    width: 337px;
    @media only screen and (max-width: $breakpoint-lg) {
      padding-right: 17px;
      width: 26%;
    }
    @media only screen and (max-width: $breakpoint-md) {
      display: block;
      padding: 0px 10px;
      width: 100%;
    }
  }
}
