#content-container {
    border: 1px solid green;
    margin: 0 auto;
    width: 1400px;

}

div.column {
  display: inline-block;
  vertical-align: top;

  &.left {
    width: 1046px;
    padding: 0px 0px 0px 0px;
  }
  &.right {
    width: 337px;
    padding: 4px 0px 0px 17px;
  }
}
