.content-container {
    font-size: 0;
    margin: 0 auto;
    width: 980px;
    @media only screen and (max-width: $breakpoint-md) {
      width: 100%;
  	}
    @media only screen and (max-width: $breakpoint-sm) {
      padding-top: $mobile-header-height;
      width: auto;
    }

}

div.column {
  display: inline-block;
  vertical-align: top;

  &.left {
    padding: 28px 0px 0px 17px;
    width: 640px;
    @media only screen and (max-width: $breakpoint-md) {
      padding-left: 17px;
      width: 70%;
    }
    @media only screen and (max-width: $breakpoint-sm) {
      display: block;
      padding: 0px 10px 40px 10px;
      width: 100%;
    }

  }
  &.right {
    padding: 41px 0px 0px 17px;
    width: 337px;
    @media only screen and (max-width: $breakpoint-md) {
      padding-right: 17px;
      width: 30%;
    }
    @media only screen and (max-width: $breakpoint-sm) {
      display: block;
      padding: 0px 10px;
      width: 100%;
    }

  }
}
