.splash-container {
	background-color: $cl-black;
	height: 630px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	img[usemap], map area{
		outline: none;
	}
	@media only screen and (max-width: $breakpoint-sm) {
		height: 100%;
	}
}
